@import 'tailwindcss';
@layer utilities {
	.center-top-left {
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
}

@theme {
	--color-gris: #d9d9d9;
	--color-grisOscuro: #535353;
	--color-verdeAqua: #588085;
	--color-oscuro: #1e1e1e;
}

body,
html {
	font-family: 'Samas';
	@apply text-oscuro bg-white text-base;
}

button,
a {
	@apply cursor-pointer;
}

.swiper-button-prev,
.swiper-button-next {
	@apply !hidden;
}
