@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
	@apply bg-grisFondo;
	font-family: "Lettera";
	font-weight: bold;
}

.bg-footer {
	background-image: url("../assets/img/bg-footer-m.jpg");
	background-position: bottom center;
	background-repeat: repeat-x;
}

@media (min-width: 768px) {
	.bg-footer {
		background-image: url("../assets/img/bg-footer.jpg");
	}
}

.serpiente-deco {
	@apply h-full w-full absolute hidden md:block;
	top: 200px;
	background-image: url("../assets/img/serpiente.svg");
	background-position: top center;
	background-size: auto;
	background-repeat: no-repeat;
}

.serpiente-deco-movil {
	@apply h-[1100px] w-full absolute md:hidden;
	top: 0px;
	background-image: url("../assets/img/serpiente-movil.svg");
	background-position: top;
	background-size: auto 1100px;
	background-repeat: no-repeat;
	transform: rotate(-180deg);
}

.circulo-deco-left,
.circulo-deco {
	background-image: url("../assets/img/circulo.svg");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
}

.circulo-deco {
	@apply size-[400px] md:size-[600px] xl:size-[800px] absolute left-[-220px] bottom-[-230px] md:left-auto md:right-[-320px] xl:right-[-400px] md:bottom-[-100px] xl:bottom-[-300px];
}

.circulo-deco-left {
	@apply md:size-[600px] xl:size-[800px] absolute left-[-320px] xl:left-[-420px] bottom-[-100px] xl:bottom-[-230px] hidden md:block;
}
